@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 1rem 5rem;
    height: 10vh;
}

nav i.bar
{
    display: none;
}

nav .logo
{
    display: flex;
    font-size: 2rem;
    align-items: center;
}

nav a
{
    text-decoration: none;
}

nav .logo i
{
    color: #60ef;
    padding-left: 0.75rem;
}

nav .logo h4
{
    font-size: 2.5rem;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    color: black;
    
}

nav .nav-items
{
    display: flex;
    list-style: none;
}

nav .nav-items .nav-item
{
    padding: 0 1rem;
}

nav .nav-link
{
    text-decoration: none;
    color: #4e547e;
    font-size: 1.4rem;
    transition: 0.5s ease;
    font-weight: bold;
}

nav .nav-link:hover{
    color: #60ef;
    transform: scale(1.1);
}

/*Main Section*/

.main
{
    background-color: #f8f7fc;
}

.hero-sct
{
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
}

.hero-sct .contant
{
    display: flex;
    flex-direction: column;
}

.hero-sct h4
{
    color: rgb(96, 3, 216);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-sct h1
{
    font-size: 2.6rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.hero-sct p
{
    color: rgb(29, 29, 29);
    font-size: 1.4rem;
}

.hero-sct p span
{
    color: rgb(96, 3, 216);
}

.hero-sct .bto
{
    width: 10rem;
    border: 1px solid ;
    border-radius: 5rem;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    padding: 0.75rem 1.5rem;
    color: #fff;
    background-color: rgb(96, 3, 216);
    transition: 0.5s ease;
}

.hero-sct .bto:hover
{
    transform: scale(1.1);
}

/*features section*/

.features
{
    padding: 2rem 0;
    background-color: #f8f7fc;
}

.features .features-sec
{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-sec h4
{
    color: rgb(96, 3, 216);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.features-sec .items-sec
{
    display: flex;
    justify-content: space-between;
}

.features-sec .items-sec .items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: 0.5s ease;
}

.features-sec .items-sec .items:hover
{
    transform: scale(1.1);
    border: 1px solid rgb(96, 3, 216);
}

.items-sec .items i
{
  font-size: 2rem;
  color: rgb(96, 3, 216);
  margin-bottom: 1rem;
}

.items-sec .items h3
{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.items-sec .items p
{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(29, 29, 29);
}

/*PHONES SECTION*/

.list-phone
{
    padding-top: 5rem ;
}

.list-phone .phone-x
{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}

.list-phone .phone-x h4
{
    color: rgb(96, 3, 216);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.phone-x .phones
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
}

.phones .phone
{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone img
{
    margin-bottom: 1rem;
    transition: 0.5s ease;
}

.phone img:hover
{
    transform: scale(1.1);
}


.phone-x .phone h3
{
    font-size: 1.6rem;
    font-weight: 600;
}

.phone-x .but
{
width: 15rem;
border: 1px solid ;
border-radius: 5rem;
margin-top: 0.5rem;
margin-bottom: 1rem;
align-self: center;
outline: none;
border: none;
padding: 0.75rem 1.5rem;
color: #fff;
background-color: rgb(96, 3, 216);
transition: 0.5s ease;
}

.phone-x .but:hover
{
transform: scale(1.1);
}

/*FOOTR SECTION*/

.ftr
{
    background-color: #f8f7fc;
    height: 15vh;
    margin-top: 5rem;
    padding: 2rem 0;
}

.ftr .ftr-sec
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
}

.ftr-sec p
{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.ftr-sec .social
{
    margin-bottom: 1rem;
}


.ftr-sec .social i
{
    padding: 0 0.5rem;
    font-size: 1.6rem;
    transition: 0.5s ease;
}

.ftr-sec .social i:hover
{
    color: #60ef;
    transform: scale(1.1);
}

/*RESPONSEV DESIHN*/

@media (max-width:1300px) {
    *{
        font-size: 85%;
    }
}

@media (max-width:1170px) {
    *{
        font-size: 85%;
    }
}

@media (max-width:1000px) {
    *{
        text-align: center;
    }
    .main img{
        display: none;
    }
    .hero-sct
    {
        align-items: center;
        padding: 2rem 0;
        width: 50%;
    }
    .main .bto
    {
        align-self: center;
    }
    .hero-sct .contant
    {
        margin-top: 2rem;
    }
    .features-sec .items-sec
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .features .features-sec
    {
        align-items: center;
    }
    .hero-sct
    {
        height: 70vh;
    }
}

@media (max-width:768px) {
    .hero-sct .contant h1{
        font-size:2rem;
    }
    .phone-x
    {
        align-items: center;
    }
    .phone-x .phones
    {
        grid-template-columns: 1fr 1fr;
    }
    nav
    {
        position: sticky;
        top: 0;
        width: 100%;
    }
    nav i.bar{
        display: block;
        font-size: 3rem;
    }
    nav .nav-items
    {
       position: absolute;
       left: 0;
       top: 10vh;
       flex-direction: column;
       width: 100%;
       background-color: rgba(0, 0, 0, 0.8);
       padding: 2rem;
       display: none;
    }
    nav .nav-items.active
    {
     display: flex;
    }
    nav .nav-items .nav-item 
    {
        margin: 1rem;
    }
    nav .nav-items .nav-item a
    {
        color: #fff;
    }
    
}


@media (max-width:500px) {
    .phone-x .phones
    {
        grid-template-columns: 1fr;
    }
    .hero-sct .contant h1{
        font-size:1.5rem;
    }
   

}